@import '../../../styles/color';
@import '../../../styles/variables';

.codePhone {
	position: relative;

	.codePhoneSlected {
		display: flex;
		justify-content: center;
		align-items: center;
		border-right: 1px solid $neutral_3;
		margin-right: 5px;
		padding-right: 5px;
		cursor: pointer;
	}

	.listCode {
		display: none;
		position: absolute;
		margin-top: 12px;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		min-width: 100%;
		z-index: 10;
		background-color: $neutral_1;
		border: 1px solid $neutral_3;
		max-height: 250px;
		overflow: auto;
		&.active {
			display: block;
		}

		&::-webkit-scrollbar {
			width: 3px;
		}

		&::-webkit-scrollbar-track {
			box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		}

		&::-webkit-scrollbar-thumb {
			background-color: darkgrey;
			border-radius: 4px;
		}
		.itemPhone {
			cursor: pointer;
			white-space: nowrap;
			padding: 8px 16px;

			&:hover {
				opacity: 0.8;
				background-color: $neutral_3;
			}
		}
	}
}

.groupForm {
	.groupLabel {
		display: flex;
		justify-content: space-between;
		.label {
			display: block;
			font-size: 13px;
			line-height: 20px;
			margin-bottom: 8px;

			span {
				color: red;
			}
		}
	}

	.groupInput {
		position: relative;
		input {
			background-color: transparent;
			color: $light;
			width: 100%;
			&:-webkit-autofill,
			&:-webkit-autofill:hover,
			&:-webkit-autofill:focus {
				-webkit-text-fill-color: rgb(255, 255, 255);
				-webkit-box-shadow: 0 0 0px 1000px $neutral_1 inset;
			}
		}

		.input {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $neutral_1;
			color: $light;
			width: 100%;
			outline: none;
			padding: 12px 16px;
			border-radius: 12px;
			border: 1px solid $neutral_2;
			overflow: none;
			font-weight: 500;
			font-size: 14px;
			&::placeholder,
			&::-webkit-input-placeholder {
				/* Chrome, Firefox, Opera, Safari 10.1+ */
				color: $navi_tab;
				opacity: 1; /* Firefox */
				font-weight: 500;
				font-size: 14px;
				color: #9c9c9c;
			}

			.icon {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 2rem;
				color: $light;
				margin-right: 10px;
			}
		}

		.toggleType {
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $neutral_3;
			position: absolute;
			top: 50%;
			right: 12px;
			font-size: 18px;
			line-height: 18px;
			transform: translateY(-50%);
		}

		.icon_left {
			display: flex;
			justify-content: center;
			align-items: center;
			color: $neutral_3;
			position: absolute;
			top: 50%;
			left: 12px;
			font-size: 18px;
			line-height: 18px;
			transform: translateY(-50%);
		}

		&.hasIconLeft {
			.icon_left {
				color: $light;
			}
		}
		&.hasIconLeft {
			.input {
				padding-left: 40px;
				.icon_left {
					color: $light;
				}
			}
		}
		&.hasIconRight {
			.input {
				padding-right: 40px;
			}
		}
	}
}

.groupForm.error {
	.input {
		border: 1px solid $primary_3_1;
		color: $primary_3_1;
		&::placeholder {
			color: $primary_3_1;
		}
	}
	.message {
		font-size: 1.2rem;
		color: $primary_3_1;
	}
}

.groupForm + .groupForm {
	margin-top: 16px;
}

//===================
// CUSTOM STYLE
.focus_yellow .input {
	&:focus {
		border: 1px solid $primary_1_5;
		color: $primary_1_5;
	}
}
.transparent_custom .groupInput {
	.groupInput,
	.input {
		border: none;
		background: transparent;
		padding: 0;
	}
}
.label_white_custom {
	label {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: #d2d2d2;
	}
}
.no_action {
	cursor: pointer;
	.input {
		pointer-events: none;
	}
}
.gray_custom .groupInput {
	.groupInput,
	.input {
		background-color: #303133;
		border: 1px solid #38393a;
		box-sizing: border-box;
		border-radius: 8px;
	}
	.icon_left {
		* {
			color: #9c9c9c;
		}
	}
}
//===================
