.calendar {
	max-width: 350px;
	margin: 0 auto;
	background-color: #212121;
	border-radius: 1rem;
	padding-bottom: 0.5rem;
	box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.05);
	color: #fff;

	.month {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2rem;
		font-size: 1.6rem;

		.btnMonth {
			display: flex;
			justify-content: center;
			align-items: center;
			border: none;
			outline: none;
			background-color: transparent;
			font-size: 2rem;
			color: #fff;
			cursor: pointer;
		}
	}

	.day {
		border-top: 1px solid #303133;
		text-shadow: 0 0 1px #000;
		font-size: 1.6rem;
		padding: 5px 0;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.itemDay {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.listDate {
	padding: 0.5rem 0;
	display: grid;
	gap: 2px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.dateItem {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.6rem;
	width: 40px;
	height: 40px;
	margin: 0 auto;

	&:hover {
		cursor: pointer;
		opacity: 0.8;
	}
}

.dateText {
	position: relative;
	z-index: 2;
}

.outDate {
	color: #9c9c9c;
}

.current {
	color: #f3bb39;
	border: 1px solid #f3bb39;
	border-radius: 6px;
}

.active {
	background: radial-gradient(
		72.29% 96.43% at 50.5% 3.57%,
		#ffd166 0%,
		#d0a132 100%
	);
	border-radius: 6px;
	.dateText {
		color: rgb(0, 0, 0) !important;
	}
}
