$primary_1: #ffd166;
$primary_1_1: #f3bb39;
$primary_1_2: #ffdb86;
$primary_1_3: #ffe5a9;
$primary_1_4: #fff6e0;
$primary_1_5: #d6c08e;
$primary_1_6: #d2d2d2;
$primary_1_7: #d0a132;

$primary_2: #9757d7;
$primary_2_1: #7230b5;
$primary_2_2: #c19ae7;
$primary_2_3: #d5bcef;
$primary_2_4: #eaddf7;
$primary_3: #ff6838;
$primary_3_1: #d93012;
$primary_3_2: #ffa488;
$primary_3_3: #ffc3af;
$primary_3_4: #ffe1d7;
$primary_4: #2cae39;
$primary_4_1: #2b9551;
$primary_4_2: #9bd7b1;
$primary_4_3: #bce5cb;
$primary_4_4: #def2e5;
$primary_4_5: #bdff00;

$secondary_1: #4bc9f0;
$secondary_2: #e4d7cf;
$secondary_3: #003fe2;
$secondary_4: #ebd6f8;

$neutral_1: #0d0d0e;
$neutral_2: #303133;
$neutral_3: #38393a;
$neutral_4: #777e90;
$neutral_5: #b1b5c3;
$neutral_6: #e6e8ec;
$neutral_7: #f4f5f6;
$neutral_8: #fcfcfd;

$light: #ffff;

$navi_tab: #9c9c9c;
